# Lesli
# 
# Copyright (c) 2025, Lesli Technologies, S. A.
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program. If not, see http://www.gnu.org/licenses/.
# 
# Lesli · Ruby on Rails SaaS Development Framework.
# 
# Made with ♥ by LesliTech
# Building a better future, one line of code at a time.
# 
# @contact  hello@lesli.tech
# @website  https://www.lesli.tech
# @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
# 
# // · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
# // · 



# -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-
# REUSABLE GITHUB ACTIONS WORKFLOWS DESIGNED TO BE USED ACROSS 
# THE LESLI FRAMEWORK REPOSITORIES
# -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-



# Specs for The Lesli Framework
# -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-   -·-
name: "Lesli Test New Workflow"
on:
  workflow_dispatch:    # This allows the action to be executed on demand
  workflow_call:        # This allows the workflow to be reusable
    inputs:
      branch:
        required: true
        type: string

jobs:
  new-test:
    name: Test New Workflow
    runs-on: ubuntu-latest

    # Do not execute the test if requests comes from another action
    if: ${{ !contains(github.event.head_commit.message, 'ci(workflows):') && !contains(github.event.head_commit.message, 'release(gem):') && !contains(github.event.head_commit.message, 'assets(js):') }}

    # Start database service necessary to execute the RSpec tests
    services:
      postgres:
        image: postgres:11.5
        env:
          POSTGRES_DB: "lesli-test"
          POSTGRES_USER: "lesli-test"
          POSTGRES_PASSWORD: "lesli-test"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:

      # Use the official receipt to install ruby in ubuntu
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.5
          bundler-cache: true

      # Install ruby on rails
      - name: Install Ruby on Rails
        run: gem install rails

      # Create the stable rails app
      - name: Create the rails app
        run: rails new LesliApp

      # Clone Lesli core repository
      - name: Checkout Lesli repository
        uses: actions/checkout@v4
        if: github.event.repository.name != 'Lesli'
        with:
          path: ./LesliApp/engines/Lesli
          repository: LesliTech/Lesli

      # Clone LesliActions repository
      - name: Checkout LesliActions repository
        uses: actions/checkout@v4
        with:
          path: ./LesliApp/enginesdev/LesliActions
          repository: LesliTech/LesliActions

      # Clone engine repository
      - name: Checkout engine repository
        uses: actions/checkout@v4
        with:
          path: ./LesliApp/engines/${{ github.event.repository.name }}
          repository: LesliTech/${{ github.event.repository.name }}

      # Prepare configuration files
      - name: Copy configuration files
        run: |
          cp ./LesliApp/enginesdev/LesliActions/config/rails/Gemfile.lesli ./Gemfile.lesli
          cp ./LesliApp/enginesdev/LesliActions/config/rails/database_postgresql.yml ./config/database.yml
          echo 'eval_gemfile "Gemfile.lesli" if File.exist?("Gemfile.lesli")' >> Gemfile

      # Update gems one last time
      - name: Update gems
        working-directory: LesliApp
        run: bundle update

      # Build the Lesli database
      - name: Set up database
        working-directory: LesliApp
        run: RAILS_ENV=test bundle exec rake lesli:db:reset
        env:
          RAILS_ENV: test

      # Run Rspec tests 
      - name: Run Rails tests 
        working-directory: LesliApp
        run: LESLI_INTEGRATION_TEST=true bin/rails test
